// colors

$basic-light: #ffffff;
$basic-darkest: #1c1c28;
$basic-dark: #28293d;
$accent: #02a69b;
$accent-special: #008580;
$accent-light: #ffbb0e;
$accent-light-special: #ffd770;
$basic-grey: #555770;
$special-grey: #8e90a6;
$special-grey-light: #e3e4eb;
$alert-color: #f05152;

// viewports

$mobile-width-only: 751px;
$tablet-width-only: 1105px;