.info__wrapper {
  max-width: 578px;
  padding-top: 65px;
  
  &--for-devs {
    padding-right: 300px;
    background-image: url("assets/illustration.svg");
    background-repeat: no-repeat;
    background-position: right 100px;
    padding-bottom: 158px;
    padding-top: 63px;
  }

  @media(max-width: $mobile-width-only) {
    display: flex;
    flex-direction: column;

    &--for-devs {
      padding-right: 0;
      padding-top: 248px;
      padding-bottom: 128px;
      background-position: right 102px;
    }
  }
}

.info__title {
  @include font(22px, 24px, 700);
  color: $basic-dark;
  margin: 0;
  padding-bottom: 18px;
}

.info__text {
  @include font(14px, 20px, 400);
  color: $basic-grey;
  margin: 0;
  
  &:last-of-type {
    padding-bottom: 17px;
  }
}

.info__wrapper--for-devs .info__title {
  padding-bottom: 17px;
}

.info__wrapper--for-devs .info__text {
  padding-bottom: 22px;

  @media(max-width: $mobile-width-only) {
    &:last-of-type {
      padding-bottom: 24px;
    }
  }
}

.info__link {
  @include font(16px, 24px, 700);
  color: $basic-darkest;
  padding: 6px 15px;
  text-decoration: none;
  border: 2px solid $accent;
  border-radius: 4px;
  display: inline-block;
  vertical-align: middle;

  &:hover {
    color: rgba($basic-darkest, 0.8);
  }

  &--action {
    padding: 7px 54px 7px 15px;
    background-image: url("assets/action-arrow.svg");
    background-repeat: no-repeat;
    background-position: 92% 8px;
  }

  @media(max-width: $mobile-width-only) {
    max-width: 211px;
    box-sizing: border-box;
    padding: 6px 14px;

    &--action {
      padding: 7px 44px 6px 15px;
      max-width: 252px;
      margin-bottom: 12px;
    }
  }
}

.info__faq {
  @include font(16px, 20px, 700);
  color: $accent-special;
  text-decoration: none;
  padding-bottom: 3px;
  margin-left: 24px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-image: url("assets/dashed-line.svg");
    background-repeat: repeat-x;
    bottom: 0;
  }

  &:hover {
    color: rgba($accent-special, 0.8);
    border-color: rgba($accent-special, 0.8);
  }

  @media(max-width: $mobile-width-only) {
    margin-left: 0;
    max-width: 130px;
  }
}