.modal {
  display: none;
  background-color: rgba($basic-darkest, 0.45);
  width: 100vw;
  box-sizing: border-box;

  @media(max-width: $mobile-width-only) {
    max-width: 100%;
    height: 100vh;
    overflow-y: hidden;
  }
}

.modal--show {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  overflow-y: hidden;
  z-index: 1;

  @media(max-width: $mobile-width-only) {
    top: 0;
    left: 0;
  }
}

.modal__cross {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: none;
  top: 47px;
  right: 34px;
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 27px;
    height: 2px;
    background-color: $basic-light;
    top: 0;
    right: 0;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  @media(max-width: $mobile-width-only) {
    display: none;
  }
}

.modal__close {
  @include font(10px, 10px, 700);
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  margin-left: auto;
  padding: 0 0 2px;
  color: $special-grey;
  border-bottom: 1px dashed $accent-special;

  &:hover {
    color: rgba($special-grey, 0.8);
  }

  @media(max-width: $mobile-width-only) {
    @include font(14px, 20px, 700);
    color: $accent-special;
    border-bottom: none;
    padding-left: 26px;
    margin-left: 0;
    background-image: url("assets/arrow-back.svg");
    background-repeat: no-repeat;
    background-position: 3px 5px;

    &:hover {
      color: rgba($accent-special, 0.8);
    }
  }
}

.modal__form-wrapper {
  margin: 266px auto 0;
  padding: 31px 32px 32px;
  background-color: $basic-light;
  max-width: 393px;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid rgba($basic-darkest, 0.38);

  @media(max-width: $mobile-width-only) {
    max-width: 100vw;
    height: 100vh;
    margin: 0;
    border-radius: 0;
    border: none;
    padding: 35px 43px 43px;
  }
}

.modal__warning {
  @include font(22px, 24px, 700);
  color: $basic-dark;
  margin: 0;
  padding: 23px 0 22px;
}

.modal .form__label--checkbox {
  padding-left: 40px;
}

.modal__from-control {
  padding-bottom: 42px;

  &:last-of-type {
    padding-top: 0;
    padding-bottom: 38px;
  }
}