.notion {
  box-sizing: border-box;
  max-width: 240px;
  padding: 60px 16px 16px 15px;
  border: 1px solid $accent-light-special;
  border-radius: 8px;
  background-image: url("assets/notion-icon.svg");
  background-repeat: no-repeat;
  background-position: 15px 16px;
  margin-top: 1px;

  @media(max-width: $mobile-width-only) {
    order: 0;
    margin-top: 0;
    margin-bottom: 21px;
    padding: 59px 15px 15px;
    background-position: 15px 15px;
  }
}

.notion__emphasis {
  @include font(14px, 20px, 700);
  padding-bottom: 5px;
  display: block;
}

.notion__text {
  @include font(12px, 16px, 400);
  margin: 0;
}
